In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Tweets.csv')
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [3]:
duplicates = df['tweet_id'][df['tweet_id'].duplicated()]
print(len(duplicates))
print(duplicates.head())

155
12040    570308309682675712
12041    570308064185880577
12042    570307949614256128
12043    570307948171423745
12044    570307434113310720
Name: tweet_id, dtype: int64

In [4]:
df[df['tweet_id']==570308309682675712]

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
11879,570308309682675712,negative,1.0,Customer Service Issue,1.0,American,NaN,SweeLoTmac,NaN,0,@AmericanAir why would I even consider continu...,NaN,2015-02-24 11:44:31 -0800,NaN,Quito
12040,570308309682675712,negative,1.0,Customer Service Issue,1.0,American,NaN,SweeLoTmac,NaN,0,@AmericanAir why would I even consider continu...,NaN,2015-02-24 11:44:31 -0800,NaN,Quito

In [5]:
df_clean = df.drop_duplicates(subset='tweet_id')

In [6]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14485 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14485 non-null  int64
 1   airline_sentiment             14485 non-null  object
 2   airline_sentiment_confidence  14485 non-null  float64
 3   negativereason                9082 non-null   object
 4   negativereason_confidence     10416 non-null  float64
 5   airline                       14485 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14485 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14485 non-null  int64
 10  text                          14485 non-null  object
 11  tweet_coord                   1007 non-null   object
 12  tweet_created                 14485 non-null  object
 13  tweet_location                9798 non-null   object
 14  user_timezone                 9710 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.8+ MB

In [8]:
(1-(len(df_clean)/len(df)))*100

1.0587431693989124

1% of data removed (duplicates of tweet id)

In [9]:
df_clean.to_csv('cleaned_tweets.csv', index=False)